

.signup-and-login-wrapper{
  max-width: 1200px;
  width: 60vw;
  min-width: 900px;
  min-height: 500px;
  background-color: $white;
  margin: 60px auto;
  display: flex;
  position: relative;
  overflow: hidden;
  .purple-container{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: $dark-purple;
    top: 0;
    left: 0;
    // cubic-bezier(0.860, 0.000, 0.070, 1.000);
    // cubic-bezier(0.680, -0.550, 0.265, 1.550);
    // transition: left 1.2s 0s cubic-bezier(0.580, -0.400, 0.330, 1.410);
    -webkit-transition: left 1.2s cubic-bezier(0.580, 0, 0.330, 1); /* older webkit */
    -webkit-transition: left 1.2s cubic-bezier(0.580, -0.400, 0.330, 1.410);
     -moz-transition: left 1.2s cubic-bezier(0.580, -0.400, 0.330, 1.410);
     -o-transition: left 1.2s cubic-bezier(0.580, -0.400, 0.330, 1.410);
    transition: left 1.2s cubic-bezier(0.580, -0.400, 0.330, 1.410); /* custom */
    &.login-is-active{
      left: 50%;
    }
    &.signup-is-active{
      left: 0;
    }
    .signup-and-login-inactive-container{
      height: 100%;
      width: 100%;
      position: relative;

        width: 90%;
        position: absolute;
        min-height: 200px;
        @include absolutely-center;


        .signup-view-content, .login-view-content{
          width: 70%;
          @include absolutely-center;
          h1{
            margin-bottom: 35px;
            text-align: center;
          }
          p{
            text-align: center;
            margin-bottom: 20px;
          }
          button{
            display: block;
            margin: 0 auto;
          }
          &.should-hide{
            p, h1, button{
              opacity: 0;
              transition: opacity 0.6s ease-in;
              pointer-events: none;
            }
          }
          &.should-show{
            p, h1, button{
              opacity: 1;
              transition: opacity 0.6s 0.4s ease-in;
            }
          }
        }

    }
  }

  $signup-opacity-inact-trans: opacity 0.6s 0.6s;

  .login-container{
    width: 50%;
    position: relative;
    form{
      width: 100%;
      margin: 0 auto;
      position: absolute;
      // transition: property name | duration | timing function | delay
      transition: $signup-opacity-inact-trans, right 1s;
      right: 0;
      opacity: 1;
      top: 50px;
      .field-input{
        width: 80%;
        margin: 0 auto;
      }
      // z-index: 100;
    }
    &.is-inactive form{
      opacity: 0;
      right: -100%;
      transition: opacity 0.8s 0.2s, right 1s 0.3s ease-in;

    }
  }

  .signup-container{
    width: 50%;
    position: relative;
    form{
      width: 100%;
      margin: 0 auto;
      position: absolute;
      // transition: property name | duration | timing function | delay
      transition: $signup-opacity-inact-trans, left 1s;
      left: 0;
      opacity: 1;
      top: 50px;
      .field-input{
        width: 80%;
        margin: 0 auto;
      }
      // z-index: 100;
    }
    &.is-inactive form{
      opacity: 0;
      left: -100%;
      transition: opacity 0.8s 0.2s, left 1s 0.3s ease-in;
      pointer-events: none;
    }
  }
}
