// general styles
input:focus, select:focus {
  outline:none;
}
// select input styles
.select-input{
  select{
    width: 100%;
    display: block;
    border: 1px solid $dark-purple;
    padding: 10px 8px;
    background-color: $white;
    -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;

     &:focus{
       outline: $light-purple;
     }
  }
  label{
    text-align: left;
  }
}
// color input styles

.color-picker-display{
  width: 100%;
  height: 40px;
  border: 2px solid $dark-purple-inactive;
  display: flex;
  align-items: center;
  .display-selected-color{
    width: 50px;
    border-radius: 3px;
    .display-color-container{
      border: 1px solid $gray;
      width: 80%;
      margin: 0 auto;
      height: 20px;
    }
  }
  .selected-color-value{
    flex: 1;
  }
}
.block-picker{
  position: absolute!important;
  z-index: 20;
}
// form error styles
.form-error{
  font-size: 12px;
  color: $danger-red;
  text-align: left;
}
