
.widgetly-walkthrough-container{
  .step{
    padding: 30px;
    height: 250px;
    align-items: center;
    .step-description{
      &, a{
        font-size: 20px;
      }
    }
    .is-number{
      min-width: 350px;
      h2{
        font-size: 40px;
        font-weight: 900;
      }
    }
    a{
      color: $gray;
    }
    &:nth-child(even){
      .is-number{
        color: $dark-purple;
        text-align: right;
      }

      color: $dark-purple;
    }
    &:nth-child(odd){
      background-color: $light-purple;
      .is-number{
        color: $white;
      }
      .step-description{
        text-align: right;
      }
      color: $white;
    }
  }

}
