.edit-widget-container{
  .data-display-container{
    padding: 30px 15px;
    background-color: gray;
    .list-widget-data-wrapper{
      padding: 10px;
      background-color: $gray;
      width: 80%;
      margin: 0 auto;
    }
  }

}
