@import 'bulma/bulma.sass';
@import 'react-toastify/scss/main.scss';

// https://www.color-hex.com/color-palette/20141
$success-green: #22bb33;
$info-blue: #5bc0de;
$danger-red: #bb2124;
$warning-orange: #f0ad4e;
$inactive-gray: #aaaaaa;

$white: #ffffff;
$black: #242038;
$dark-purple: #725AC1;
$light-purple: #8D86C9;
$gray: #CAC4CE;
$blue: #2589BD;

$dark-purple-inactive: #725ac196;
$accent-red: #EB5160;

@mixin absolutely-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin is-title{
  line-height: normal;
}

@import '_field_input_styles';
@import '_authentication';
@import '_form';
@import '_react-select';



html{
  background-color: $gray;
}
h1{
  font-size: 28px;
}
p{
  font-size: 14px;
}


// general helper styles
.is-centered-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.display-none{
  display: none;
}

// flex classes
.columns.is-centered{
  justify-content: center;
}



// global button styles
.button{
  border-style: none;
  cursor: pointer;
}
.button.small-button{
  padding: 5px 15px;
}
.button.medium-button{
  padding: 5px 25px;
}
.button.large-button{
  padding: 5px 35px;
}
.button.purple-button{
  background-color: $dark-purple;
  color: $white;
  &:hover, &:active, &:focus{
    background-color: $light-purple;
  }
}
.button.white-transparent-button{
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  &:hover, &:active, &:focus{
    background-color: rgba(0,0,0,0.1);
  }
}

// global title styles

.title-1{
  font-size: 28px;
  @include is-title;
}
.title-2{
  font-size: 24px;
  @include is-title;
}
.title-3{
  font-size: 20px;
  @include is-title;
}

// font-modifier styles
.white-font{
  color: $white;
}

// reused ui element styling
.custom-toast-container{
  min-width: 500px;
  margin-left: unset;
  transform: translateX(-50%);
  .Toastify__toast--success{
    background-color: $success-green;
  }
  .Toastify__toast--info{
    background-color: $info-blue;
  }
  .Toastify__toast--error{
    background-color: $danger-red;
  }
  .Toastify__toast--warning{
    background-color: $warning-orange;
  }
  .Toastify__toast{
    border-radius: 3px;
  }

}
