@import 'bulma/bulma.sass';
@import 'react-toastify/scss/main.scss';

// https://www.color-hex.com/color-palette/20141
$success-green: #22bb33;
$info-blue: #5bc0de;
$danger-red: #bb2124;
$warning-orange: #f0ad4e;
$inactive-gray: #aaaaaa;

$white: #ffffff;
$black: #242038;
$dark-purple: #725AC1;
$light-purple: #8D86C9;
$gray: #F7F7F7;
$blue: #2589BD;

$dark-purple-inactive: #725ac196;
$accent-red: #EB5160;

@mixin absolutely-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin is-title{
  line-height: normal;
}

@import '_field_input_styles';
@import '_authentication';
@import '_form';
@import '_react-select';



html{
  background-color: $gray;
}
h1{
  font-size: 28px;
}
p{
  font-size: 14px;
}


// general helper styles
.is-centered-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.display-none{
  display: none;
}
.is-full-height{
  height: 100%;
}
.is-full-width{
  width: 100%;
}

// flex classes
.columns.is-centered{
  justify-content: center;
}



// global button styles
.button{
  border-style: none;
  cursor: pointer;
}
.button.small-button{
  padding: 5px 15px;
}
.button.medium-button{
  padding: 5px 25px;
}
.button.large-button{
  padding: 5px 35px;
}
.button.purple-button{
  background-color: $dark-purple;
  color: $white;
  &:hover, &:active, &:focus{
    background-color: $white;
    color: $dark-purple;
    border: 1px solid $dark-purple;
  }
}
.button.white-transparent-button{
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  &:hover, &:active, &:focus{
    background-color: rgba(0,0,0,0.1);
  }
}
.button.white-button{
  background-color: $white;
  color: $dark-purple;
  border: 1px solid $dark-purple;
  &:hover, &:active, &:focus{
    background-color: $dark-purple;
    color: $white;
    border: 1px solid $white;
  }
}

// global link classes
a{
  font-size: 14px;
}

a.white-link{
  color: $white;
   &:hover{
    color: $light-purple;
  }
}
a.light-purple-link{
  color: $light-purple;
   &:hover{
    color: $black;
  }
}
a.no-style-link{
  color: unset;
  &:hover{
    color: unset;
  }
}

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
a {
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;

   &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0; right: 0;
        height: 2px;
        background-color: $light-purple;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}


// global title styles

.title-1{
  font-size: 28px;
  @include is-title;
}
.title-2{
  font-size: 24px;
  @include is-title;
}
.title-3{
  font-size: 20px;
  @include is-title;
}

// font-modifier styles
.white-font{
  color: $white;
}

// reused ui element styling
.custom-toast-container{
  min-width: 500px;
  margin-left: unset;
  transform: translateX(-50%);
  .Toastify__toast--success{
    background-color: $success-green;
  }
  .Toastify__toast--info{
    background-color: $info-blue;
  }
  .Toastify__toast--error{
    background-color: $danger-red;
  }
  .Toastify__toast--warning{
    background-color: $warning-orange;
  }
  .Toastify__toast{
    border-radius: 3px;
  }
}

// navbar header
.header{
  height: 60px;
  background-color: $dark-purple;
  color: $white;
  padding: 0px 40px;
  .header-links-container{
    min-width: 350px;
    .link-break{
      width: 2px;
      background-color: $white;
      height: 35px;
    }
  }
}
